@{
    ViewBag.Title = "Clima";
}

<h2 class="titulo-clima">Pronóstico del Clima</h2>

<div id="climaActual" class="mb-4"></div>
<div id="pronosticoDias" class="contenedor-clima"></div>

@section scripts {
    <script src="~/Scripts/clima.js"></script>
}
